body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.blog-post-card {
  background-color: white;
  border-radius: 20px;
  width: 350px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-img {
  width: 350px;
  border-bottom: 5px solid;
  border-radius: 20px 20px 0px 0px;
}

.post-content {
  padding: 15px;
}

.post-excerpt {
  color: rgb(68, 65, 65);
  margin: 5px;
  font-weight: 500;
}

.post-title {
  margin: 5px;
  color: rgb(29, 27, 27);
}

.read-more{
  color: white;
  background-color: black;
  margin: 5px 5px 10px 5px;
  padding: 8px;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
}

.read-more:hover {
  background-color: grey;
}